.idea/
.sourcemaps
xcuserdata/
node_modules/
cli/dist/commands/copy.js
Pods/
test_project/
*.map
.DS_Store
Podfile.lock
Build/*
Index/
.*.sw*
site/www
android-template.iml
!/build/.npmkeep
lerna-debug.log
capacitor-ios/
local.properties
contents.xcworkspacedata
.stencil/
android-template/.gradle/
android-template/app/app.iml
/site/.env
/site/.firebase
.gradle/
.settings/
.project

# act
.act.*
