<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Scan</ion-title>
    @if(scanProgress > 0){
    <ion-progress-bar [value]="scanProgress"></ion-progress-bar>
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" #scanRefresher (ionRefresh)="scanForBluetoothDevices($event)">
    <ion-refresher-content pullingText="Pull to scan" refreshingText="Scanning..."></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    @if(scanResults$ | async; as scanResults){
    <ion-list>
      @for (scanResult of scanResults; track $index) {
      <ion-item
        (click)="stopScanForBluetoothDevices()"
        [routerLink]="['/dfu']"
        [state]="{ device: scanResult}"
        lines="full"
        button
      >
        <ion-icon color="primary" slot="start" [src]="getRssiIcon(scanResult.rssi || -90)" size="large"></ion-icon>
        <ion-label> {{ scanResult.device.name || 'Unknown' }} </ion-label>
        <ion-note slot="end">{{ scanResult.rssi }} db</ion-note>
      </ion-item>
      } @empty {
      <ion-note color="medium" class="ion-margin-horizontal">No devices found.</ion-note>
      }
    </ion-list>

    } @else {
    <ion-note color="medium" class="ion-margin-horizontal">Swipe down to scan for nearby Bluetooth devices.</ion-note>
    }
  </ion-grid>
</ion-content>
