<ion-header>
  <ion-toolbar>
    <ion-title>Scan</ion-title>
    <ion-progress-bar *ngIf="scanProgress > 0" [value]="scanProgress"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" [disabled]="bluetoothIsScanning" (click)="scanForBluetoothDevices()">
    {{ bluetoothIsScanning ? "Scanning" : "Scan" }}
  </ion-button>

  <ion-grid>
    <ion-list *ngIf="(scanResults$ | async) as scanResults; else noDevices">
      <ion-item
        *ngFor="let scanResult  of scanResults"
        (click)="stopScanForBluetoothDevices()"
        [routerLink]="['/dfu']"
        [state]="{ device: scanResult}"
        button
      >
        <ion-icon color="primary" slot="start" [src]="getRssiIcon(scanResult.rssi || -90)" size="large"></ion-icon>
        <ion-label> {{ scanResult.device.name || 'Unknown' }} </ion-label>
        <ion-note slot="end">{{ scanResult.rssi }} db</ion-note>
      </ion-item>
    </ion-list>
    <ng-template #noDevices>
      <ion-note color="medium" class="ion-margin-horizontal">No devices found.</ion-note>
    </ng-template>
  </ion-grid>
</ion-content>
